body {
  margin: 0px;
  overflow: hidden;
}

rect {
  fill: GoldenRod
}

text {
  font-family: Helvetica, sans-serif;
}

.tick text {
  font-size: 1.4em;
  fill: #635F5D;
}

.tick line {
  stroke: #635F5D;
}

.axis-label {
  font-size: 1.5em;
  fill: #635F5D;
}

.title {
  font-size: 1.4em;
  fill: #635F5D;
}